<div class="p-3">
  <%# <h1 class="text-center mt-3">Messages</h1> %>
  <% if current_user.admin %>
    <h1 class="text-center mb-3">All chat logs for all users</h3>
    <%= link_to "Download Messages CSV", export_messages_path(format: :csv), class: "btn btn-primary" %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course</th>
          <th>Unit</th>
          <th>Lesson</th>
          <th>User</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.chatroom.lesson.unit.course.name %></td>
            <td><%= message.chatroom.lesson.unit.name %></td>
            <td><%= message.chatroom.lesson.name %></td>
            <td><%= message.user.username %></td>
            <td><%= message.content %></td>
            <td><%= message.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @messages, theme: 'bootstrap-5' %>
  <% end %>
</div>
<div class="d-flex align-items-center justify-content-center ">
  <%= link_to "< Back to courses", courses_path, class: "btn btn-ghost-2 h1" %>
</div>
