<div class="d-flex flex-column align-items-center">
  <div class="card bg-light m-3 w-75" style="max-width: 500px;">
    <h1 class="card-header text-center">Settings</h1>
    <%= form_with url: settings_path, method: :post, class: "card-body" do %>
      <div class="mb-3">
        <%= label_tag :openai_model, 'Select OpenAI Model', class: "form-label" %>
        <%= select_tag :openai_model, options_for_select(OpenAiService::VALID_MODELS, @openai_model), class: "form-select" %>
      </div>
      <div class="form-check form-switch">
        <%= label_tag :openai_enabled, 'Enable OpenAI', class: "form-label" %>
        <%= hidden_field_tag :openai_enabled, 'false' %> <!-- Add this line -->
        <%= check_box_tag :openai_enabled, 'true', @openai_enabled, class: "form-check-input" %>
      </div>
      <div class="d-flex flex-column align-items-center">
        <%= submit_tag 'Save Settings', class: "btn btn-gradient" %>
      </div>
    <% end %>
  </div>
  <%= link_to "< Back to courses", courses_path, class: "btn btn-ghost-2"  %>
</div>
