<div class="p-3 m-3 d-flex flex-column align-items-center justify-content-center">
  <div class="display-card m-3">
    <h3 class="text-center"><%= @lesson.unit.course.name %>: <%= @lesson.unit.name %>: <%= @lesson.name %></h3>
    <hr>
    <h5 class="">Lesson Details</h5>
    <p><%= @lesson.details %></p>
    <hr>
    <h5>Current Chatrooms</h5>
    <ol class="list-group">
      <% @lesson.chatrooms.each do |chatroom| %>
        <li class="list-group-item w-auto">
          <%= link_to chatroom.name, chatroom_path(chatroom), class: "btn btn-ghost-2" %>
          <%= link_to chatroom_path(chatroom),
            class: "btn",
            data: { "turbo-method": :delete,
            turbo_confirm: "Are you sure you want to delete this chatroom?" } do %>
            <i class="fa-solid fa-trash-can text-secondary"></i>
          <% end %>
        </li>
      <% end %>
      <hr>
      <%= link_to "+ Add a new chatroom for this lesson", new_lesson_chatroom_path(@lesson), class: "btn btn-ghost-2" %>
    </ol>
  </div>
</div>
