<div class="p-3 m-3">
  <div class="display-card">
    <h1 class="text-center">KUIS Tutor AI</h1>
    <h5>Instructions</h5>
    <ol>
      <li>Select your course from the first dropdown.</li>
      <li>Select the unit related to your course.</li>
      <li>Choose the lesson you're interested in.</li>
      <li>Click "Go to Chat" to start your personalized tutoring session.</li>
    </ol>
    <div data-controller="dropdowns" class="dropdown" >
      <%= form_with url: '#', class: "course-menu", method: :get do |form| %>
        <%= form.collection_select :course_id, @courses, :id, :name, { include_blank: true }, { data: { dropdowns_target: "course", action: "change->dropdowns#selectCourse" }, class: "course-menu-item" } %>
        <%= form.collection_select :unit_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "unit", action: "change->dropdowns#selectUnit" }, class: "course-menu-item"  } %>
        <%= form.collection_select :lesson_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "lesson", action: "change->dropdowns#selectLesson" }, class: "course-menu-item"  } %>
        <%= link_to 'Go to Chat', '#', id: 'chatroom_button', class: "btn btn-gradient", data: { dropdowns_target: "chatroomButton" }, disabled: true %>
      <% end %>
    </div>
  </div>
  <div class="display-card mt-3">
    <h1 class="text-center">For instructors</h1>
    <h5>Current courses:</h5>
    <ol class="list-group">
      <% @courses.each do |course| %>
        <li class="list-group-item">
          <%= link_to course.name, course_path(course), class: "btn btn-ghost-2" %>
          <%= link_to edit_course_path(course) do %>
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
          <% end %>
          <%= link_to course_path(course),
            data: { "turbo-method": :delete,
            turbo_confirm: "Are you sure you want to delete this course?" } do %>
            <i class="fa-solid fa-trash-can text-secondary"></i>
          <% end %>
        </li>
      <% end %>
      <hr>
      <%= link_to "+ Add a new course", new_course_path, class: "btn btn-ghost-2" %>
    </ol>
  </div>
</div>
