<div class="p-3 m-3 d-flex flex-column align-items-center justify-content-center">
  <div class="display-card">
    <h1 class="text-center">KUIS Tutor AI</h1>
    <h5>Instructions</h5>
    <ol>
      <li>Select your course from the first dropdown.</li>
      <li>Select the unit related to your course.</li>
      <li>Choose the lesson you're interested in.</li>
      <li>Click "Go to Chat" to start your personalized tutoring session.</li>
    </ol>
    <div data-controller="dropdowns" class="dropdown" >
      <%= form_with url: '#', class: "course-menu", method: :get do |form| %>
        <%= form.collection_select :course_id, @courses, :id, :name, { include_blank: true }, { data: { dropdowns_target: "course", action: "change->dropdowns#selectCourse" }, class: "course-menu-item" } %>
        <%= form.collection_select :unit_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "unit", action: "change->dropdowns#selectUnit" }, class: "course-menu-item"  } %>
        <%= form.collection_select :lesson_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "lesson", action: "change->dropdowns#selectLesson" }, class: "course-menu-item"  } %>
        <%= link_to 'Go to Chat', '#', id: 'chatroom_button', class: "btn btn-gradient", data: { dropdowns_target: "chatroomButton" }, disabled: true %>
      <% end %>
    </div>
  </div>
  <% if current_user.admin || current_user.instructor %>
    <div class="display-card mt-3">
      <h1 class="text-center">For instructors</h1>
      <h5>Current courses:</h5>
      <div class="d-flex flex-column align-items-center justify-content-center gap-1">
        <% @courses.each do |course| %>
          <%= link_to course.name, course_path(course), class: "btn btn-gradient w-100" %>
        <% end %>
        <%= link_to "+ Add a new course", new_course_path, class: "btn btn-ghost w-100 mt-3" %>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin %>
    <div class="display-card mt-3">
      <h1 class="text-center">For Administrators</h1>
      <div class="d-flex flex-column align-items-center justify-content-center gap-1">
        <%= link_to "All messages", messages_path, class: "btn btn-gradient w-100 mt-3" %>
      </div>
      <h5>User list</h5>
      <div class="d-flex flex-column align-items-center justify-content-center gap-1">
        <ul class="list-group gap-1">
          <% User.all.each do |user| %>
            <li class="list-group-item">
              <%= user.username %>
              <%= user.email %>
              <% if user.instructor? %>
                <strong>Instructor</strong>
              <% elsif user.admin? %>
                <strong class="text-primary">Admin</strong>
              <% elsif user.username == "assistant" %>
                <strong class="text-danger">The AI Model</strong>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <hr>
      <h5>System Message</h5>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= link_to "View or Edit the System Message", system_message_path(SystemMessage.last), class: "btn btn-gradient w-100" %>
      </div>
    </div>
  <% end %>
</div>
