<div class="p-3 m-3">
  <div class="display-card">
    <h1 class="text-center">Welcome to KUIS AI Tutor!</h1>
    <h5>Select a course from the menu.</h5>
    <div data-controller="dropdowns" class="dropdown" >
      <%= form_with url: '#', class: "d-flex flex-column gap-1 px-5", method: :get do |form| %>
        <%= form.collection_select :course_id, @courses, :id, :name, { include_blank: true }, { data: { dropdowns_target: "course", action: "change->dropdowns#selectCourse" }, class: "btn btn-white border border-secondary" } %>
        <%= form.collection_select :unit_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "unit", action: "change->dropdowns#selectUnit" }, class: "btn btn-white border border-secondary"  } %>
        <%= form.collection_select :lesson_id, [], :id, :name, { include_blank: true, disabled: true }, { data: { dropdowns_target: "lesson", action: "change->dropdowns#selectLesson" }, class: "btn btn-white border border-secondary"  } %>
        <%= link_to 'Go to Chatroom', '#', id: 'chatroom_button', class: "btn btn-primary", data: { dropdowns_target: "chatroomButton" }, disabled: true %>
      <% end %>
    </div>
  </div>
</div>
