<div class="p-3 m-3 d-flex flex-column align-items-center justify-content-center">
  <div class="display-card m-3">
    <h3 class="text-center"><%= @course.name %></h3>
    <hr>
    <h5>Course Details</h5>
    <p><%= @course.details %></p>
    <hr>
    <h5>Current Units</h5>
    <ol class="list-group">
      <% @course.units.each do |unit| %>
        <li class="list-group-item w-auto">
          <%= link_to unit.name, unit_path(unit), class: "btn btn-ghost-2" %>
          <%= link_to edit_unit_path(unit), class: "btn" do %>
            <i class="fa-solid fa-pen-to-square text-secondary"></i>
          <% end %>
          <%= link_to unit_path(unit),
            class: "btn",
            data: { "turbo-method": :delete,
            turbo_confirm: "Are you sure you want to delete this unit?" } do %>
            <i class="fa-solid fa-trash-can text-secondary"></i>
          <% end %>
        </li>
      <% end %>
      <hr>
      <%= link_to "+ Add a new unit for this course", new_course_unit_path(@course), class: "btn btn-ghost-2" %>
    </ol>
  </div>
</div>
