<div class="p-3 m-3 d-flex flex-column align-items-center justify-content-center">
  <div class="display-card">
    <div class="d-flex justify-content-center align-items-center">
      <h3 class="text-center m-0"><%= @course.name %></h3>
      <%= link_to edit_course_path(@course), class: "btn" do %>
        <i class="fa-solid fa-pen-to-square text-secondary"></i>
      <% end %>
      <%= link_to course_path(@course),
            class: "btn",
            data: { "turbo-method": :delete,
            turbo_confirm: "Are you sure you want to delete this course?" } do %>
        <i class="fa-solid fa-trash-can text-secondary"></i>
      <% end %>
    </div>
    <hr>
    <h5>Course Details</h5>
    <p><%= @course.details %></p>
    <hr>
    <h5>Current Units</h5>
    <div class="d-flex flex-column justify-content-center align-items-center gap-1">
      <% @course.units.each do |unit| %>
        <%= link_to unit.name, unit_path(unit), class: "btn btn-gradient w-100" %>
      <% end %>
      <%= link_to "+ Add a new unit for this course",
        new_course_unit_path(@course),
        class: "btn btn-ghost w-100 mt-3" %>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center flex">
  <%= link_to "< Back to courses", courses_path, class: "btn btn-ghost-2 h1" %>
</div>
